---
import "../styles/global.css";
import HeaderNavBar from "../components/headerNavBar.astro";
import Footer from "../components/footer.astro";

import Logo from "../images/horizontal.svg";
---

<div style="
    display: flex;
    flex-direction: column;
	background:rgba(68, 170, 43, 0.363);
">
  <div
    style="position: sticky;top:0;display: flex;flex: 1;flex-direction: column; background:white;"
  >
    <div
      style="display:flex;flex-direction: column;justify-content: flex-start;align-items: center;"
    >
      <Logo style="padding: 15px;" />
    </div>
    <div
      style="flex: 1;flex-direction: row;display: flex;justify-content: center;"
    >
      <button
        style="align-self: end;"
        class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
        >About</button
      >
      <button
        style="align-self: end;"
        class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
        >Fees</button
      >
      <button
        style="align-self: end;"
        class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
        >FAQ</button
      >
      <button
        style="align-self: end;"
        class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
        >Services</button
      >
      <button
        style="align-self: end;"
        class="btn btn-ghost btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
        >Contact</button
      >
    </div>
  </div>
  <div style="flex: 1;justify-items: center;">
    <div
      style="width:50%;margin: auto;padding: 20px;display: flex;flex-direction: column;gap: 20px; margin-top:40px; margin-bottom: 40px;"
    >
      <div
        style="font-size: 2em;font-weight: bold;padding: 20px;text-align: center"
      >
        The Process
      </div>
      <div>
        If you are thinking of setting out on your therapy journey, congrats! It
        is an investment that will be so worthwhile. We all run into road
        blocks, challenging times, unforeseen circumstances and painful times,
        all of which can take a toll on us! Through the therapy process the goal
        is that you will be able to recover and protect your mental peace and
        well-being, gain tools to set you on a firm foundation for current or
        future challenges, and uncover your strengths. Learn to become more
        aware and in tune with your needs, how your experiences have shaped you
        and what changes you want to make in your life.
      </div>
      <div>
        If you are thinking of setting out on your therapy journey, congrats! It
        is an investment that will be so worthwhile. We all run into road
        blocks, challenging times, unforeseen circumstances and painful times,
        all of which can take a toll on us! Through the therapy process the goal
        is that you will be able to recover and protect your mental peace and
        well-being, gain tools to set you on a firm foundation for current or
        future challenges, and uncover your strengths. Learn to become more
        aware and in tune with your needs, how your experiences have shaped you
        and what changes you want to make in your life.
      </div>
      <div>
        Therapy is not a passive process. It requires time, commitment and a
        willingness to change. We will journey together to help you discover
        your best path forward and feel more empowered in your life.
      </div>
    </div>
  </div>

  <div style="flex: 1;justify-items: center;">
    <div
      style="margin: auto;padding: 20px;display: flex;flex-direction: row;gap: 20px; margin-top:40px; margin-bottom: 40px;flex-wrap: wrap;"
    >
    <div
      style="margin: auto;padding: 20px;display: flex;flex-direction: column;gap: 20px; margin-top:40px"
    >
      <div
        style="font-size: 2em;font-weight: bold;padding: 20px;text-align: center"
      >
        Methodology
      </div>
      <ul>
        <li>Cognitive Behavioral Therapy (CBT)</li>
        <li>Dialectical Behavioral Therapy (DBT)</li>
        <li>Mindfulness</li>
        <li>Narrative Therapy</li>
        <li>Exposure Therapy</li>
        <li>Psychodynamic Therapy</li>
        <li>Motivational Interviewing</li>
        <li>Humanistic Therapy</li>
        <li>Person-Centered Therapy</li>
        <li>Acceptance and Commitment Therapy (ACT)</li>
      </ul>
    </div>
	<div
	style="margin: auto;padding: 20px;display: flex;flex-direction: column;gap: 20px; margin-top:40px"
  >
	<div
	  style="font-size: 2em;font-weight: bold;padding: 20px;text-align: center"
	>
	  Methodology
	</div>
	<ul>
	  <li>Cognitive Behavioral Therapy (CBT)</li>
	  <li>Dialectical Behavioral Therapy (DBT)</li>
	  <li>Mindfulness</li>
	  <li>Narrative Therapy</li>
	  <li>Exposure Therapy</li>
	  <li>Psychodynamic Therapy</li>
	  <li>Motivational Interviewing</li>
	  <li>Humanistic Therapy</li>
	  <li>Person-Centered Therapy</li>
	  <li>Acceptance and Commitment Therapy (ACT)</li>
	</ul>
  </div>
    </div>
  </div>

</div>
<Footer style="flex: 1;background: rgb(132, 0, 255);min-height: 10vh;" />
